<form action="/note/create/<%= @user.id %>" method="post">
  <input type="text" name="note[title]" placeholder="title" required>
  <textarea cols="50" rows="5" name="note[body]" placeholder="Make Your Note" required></textarea>
 
  <input type="submit" value="create note">
</form>
